<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QL_Thue_CD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="QL_Thue_CD.Properties.Settings.DAPM__QLCDConnectionString"
            connectionString="Data Source=DESKTOP-6N4MF83\SQLEXPRESS;Initial Catalog=DAPM__QLCD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <QL_Thue_CD.Properties.Settings>
            <setting name="taikhoan" serializeAs="String">
                <value />
            </setting>
            <setting name="matkhau" serializeAs="String">
                <value />
            </setting>
            <setting name="savetaikhoan" serializeAs="String">
                <value />
            </setting>
            <setting name="savematkhau" serializeAs="String">
                <value />
            </setting>
        </QL_Thue_CD.Properties.Settings>
    </userSettings>
</configuration>